.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* Background image using ::before */
.section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../public/Onboarding-BG-Image-2.png"); /* Replace with your path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.26;
  z-index: -1;
  pointer-events: none;
}

.content {
  overflow: hidden;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: blink ease-in-out both;
  animation-timeline: --section;
  text-align: center;
  z-index: 1;
  padding: 2rem;
  color: var(--font-color);
  font-family: "Jersey 15", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--font-color);
  line-height: 3.6rem;
}

.subtitle span {
  color: var(--second-theme-color);
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
    filter: blur(0.5rem) contrast(4);
    visibility: hidden;
    pointer-events: none; 
  }

  50% {
    opacity: 1;
    filter: blur(0) contrast(1);
    visibility: visible;
    pointer-events: auto; 
  }
}
