.text {
  margin: 0.5rem 0;
  line-height: 1.5;
  color: var(--font-color);
  font-size: 1.2rem;
}

.seeMore {
  color: var(--second-theme-color);
  cursor: pointer;
  margin-left: 0.5rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}
