.house_leaderboard_link {
  text-decoration: none;  
  color: var(--font-color);
}

.card {
  background-color: var(--dashboard-section-color);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.card h3 {
  font-size: 1.6rem;
  color: var(--second-theme-color);
  margin-bottom: 1rem;
}

.houseList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.houseItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}

.houseItem_header {
  display: flex;
  align-items: center;
}

.house_leaderboard_image {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.6rem;
  border-radius: 999px;
  border: 1px solid #333;
}

.house_leaderboard_name {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

.point_text {
  margin-bottom: 0.2rem;
}