.left_container {
  width: 17.5rem;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
  font-style: normal;
  height: 100vh;            
  overflow-y: auto; 
  padding-right: 0.4rem;    
}

.left_container::-webkit-scrollbar {
  width: 3px;
}

.left_container::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.horizontal_divider {
  border: none;
  border-top: 2px solid #333;
  width: 100%;
}

.profile_section_wrapper {
  border-radius: 10px;
  background-color: var(--dashboard-section-color); 
}
